* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.grid-container {
    display: flex;
    background-color: rgb(235, 224, 224);
    height: 100vh;
    flex-wrap: wrap;
}

.grid-row {
    display: flex;
    background-color: rgb(237, 49, 49);
    width: 100vw;
    align-items: stretch;
}

.grid-square {
    background-color: rgb(0, 0, 0);
    flex-shrink: 0;
    flex-grow: 1;
}

/* menu */

.menu {
    display: inline-flex;
    position: absolute;
    justify-content: center;
    top: 2%;
    left: 50%;
}

.grid-size-button {
    cursor: pointer;
}


