* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.grid-container {
    display: flex;
    background-color: rgb(235, 224, 224);
    height: 100vh;
    flex-wrap: wrap;
    
    
}

.grid-row {
    display: flex;
    background-color: rgb(237, 49, 49);
    width: 100vw;
    align-items: stretch;
}

.grid-square {
    background-color: rgb(49, 237, 87);
    border: 2px solid black;
    flex-shrink: 0;
    flex-grow: 1;
}


